img{
    width: 3vw;
}

#searchyProfile{
    display: flex;
    align-items: center;
    width: 30vw;
    
}

#navbarSupportedContent{
    width: 50vw;
}

#topbar{
    border-bottom: 1px black solid;
}