<!--Hacer una landing con informacion de la aplicacion y una informacion de contacto de sugerencias
que llevara a un formulario para enviar sugerencia y aparte un boton para ir a la pantalla de login-->
<div id="container">
    <div id="divLogin">
        <h2>Iniciar sesión</h2>
        <form>
            <input type="email" class="form-control" placeholder="Introduce tu correo">
            <input type="password" class="form-control" placeholder="Introduce tu contraseña">
            <button class="btn btn-primary" (click)="navigateToInicio()">Acceder</button>
        </form>
        
    </div>
</div>