<div id="container">
    <div id="divCentrado">
        <div id="presentacion">
            Bienvenido a tu aplicación para guardar tareas.<br>
            Aqui podrás distribuir tus tareas en diferentes categorías para tener siempre presente 
            un seguimiento de cada apartado individual.<br>
            ¡Accede a nuestra aplicación! o si tienes alguna sugerencia mandanosla por correo.
            <button class="btn btn-primary" (click)="navigateToLogin()">Inicia sesión</button>
        </div>
        <div id="sugerencia">
            <form>
                <input type="email" [(ngModel)]="email" name="email">
                <label>Tu correo</label>
                <input type="text" [(ngModel)]="name" name="name">
                <label>Tu nombre</label>
                <input type="text" [(ngModel)]="content" name="content">
                <label>¿Qué nos quieres decir?</label>
                <a [href]="emailstring"><button class="btn btn-primary" >Enviar</button></a>
            </form>
        </div>
    </div>
</div>