<div id="container">
    <div id="divCentrado">
        <div id="presentacion">
            Bienvenido a tu aplicación para guardar tareas.<br>
            Aqui podrás distribuir tus tareas en diferentes categorías para tener siempre presente 
            un seguimiento de cada apartado individual.<br>
            ¡Accede a nuestra aplicación! o si tienes alguna sugerencia mandanosla por correo.
            <button class="btn btn-primary" (click)="navigateToLogin()">Inicia sesión</button>
        </div>
        <div id="sugerencia">
            <form>
                <input type="email">
                <label>Tu correo</label>
                <input type="text">
                <label>Tu nombre</label>
                <input type="text">
                <label>¿Qué nos quieres decir?</label>
                <button class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>