<div class="container">
    <div class="row">

        <div class="col-sm" (click)="navigateToCategoria()">
            <h2>Trabajo</h2>
            <!--Acceder a la categoria y mostrar un datatable-->
            <div class="tarea">Tarea1</div>
            <div class="tarea">Tarea1</div>
            <div class="tarea">Tarea1</div>
        </div>

        <div class="col-sm" (click)="navigateToCategoria()">
            <h2>Casa</h2>
            <div class="tarea">Tarea1</div>
            <div class="tarea">Tarea1</div>
            <div class="tarea">Tarea1</div>
        </div>

        <div class="col-sm" (click)="navigateToCategoria()">
            <h2>Compra</h2>
            <div class="tarea">Tarea1</div>
            <div class="tarea">Tarea1</div>
            <div class="tarea">Tarea1</div>
        </div>

    </div>
</div>
